{% extends "ticket/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        {% if user.is_authenticated %}
        <h1>Welcome To Aritco | Lift </h1>
        <div class="col-md-12 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <div class="header_image">
                        <img class="col-md-12 mt-3 right" src="{{ post.header_image.url }}" width="800"><br><br>
                    </div>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Läs mer&rarr;</a>
                </div>
            </div>
            {% endfor %}
            {% else %} 
            <h1>Aritco | Lift
        {% endif %}
        </div>
    </div>

</div>
{% endblock content %}
