{% extends "ticket/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        {% if user.is_authenticated %}
        <h1>Welcome To Aritco | Planner </h1>
        <div class="col-md-12 mt-3 left">
            {% for event in event_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ event.name }}</h2>
                        <p> Start |{{ event.start_time }}<br>
                            End |{{ event.end_time }}
                        </p>
                    <p class="card-text text-muted h6"><small> Published by | {{ event.author }} <br>{{ event.created_on}}</small> </p>
                    {{event.description|slice:":200" }}
                    <a href="{% url 'event-detail' event.slug  %}" class="btn btn-light">Läs mer</a>
                </div>
                {{ calendar }}
            </div>
            {% endfor %}
            {% else %} 
            <h1>Aritco | Lift
        {% endif %}
        </div>
    </div>

</div>
{% endblock content %}
