{% extends "ticket/base.html" %}
{% block content %}
	{% for ticket in tickets %}
		<article class="media content-section">

			<img class="rounded-circle article-img" src="{{ ticket.author.profile.image.url }}">
				<h5>
					<span class="badge badge-secondary">Brotskande: {{ ticket.urgency }}</span> 
					<span class="badge badge-secondary">Sektion: {{ ticket.ticket_type }}</span>
					<span class="badge badge-secondary">Station: {{ ticket.ticket_location }}</span>
			   	</h5>
			<div class="media-body">
			    <div class="article-metadata">
			      	<a class="mr-2" href="{% url 'user-tickets' ticket.author.username %}">{{ ticket.author }}</a>
			      	<small class="text-muted">{{ ticket.date_ticketed|date:"F d, Y g:i A" }}</small>
			    </div>
			   	<h2><a class="article-title" href="{% url 'ticket-detail' ticket.id %}">{{ ticket.title }}  </a>
			   		{% if ticket.status == 'N' %}
			   			<span class="badge badge-warning">{{ ticket.status }}</span>
			   		{% elif ticket.status == 'O' %}
			   			<span class="badge badge-info">{{ ticket.status }}</span>
			   		{% elif ticket.status == 'J' %}
			   			<span class="badge badge-success">{{ ticket.status }}</span>	
			 		{% elif ticket.status == 'S' %}
			   			<span class="badge badge-secondary">{{ ticket.status }}</span>
			 		{% elif ticket_location.status %}
			   			<span class="badge badge-light">{{ ticket_location.status }}</span>
					{% elif ticket.image %}
			   			<img src={{ ticket.author.ticket.image.url }}>
			   		{% endif %}
			   </h2>
			    <p class="article-content" border="border-primary">{{ ticket.content }}</p>
				<div class="replie-thread">
					<h5>Kommentar</h5>
					{% if not ticket.replies.all %}
						<p>Skriv den första kommentär </p>
					{% else %}
						{% for replie in ticket.replies.all %}
							<div class="replie">
								<div class="replie-heading">
							      	<strong class="replie-author">{{ replie.replier }}</strong>
							      	<small class="text-muted"> {{ replie.date_replied|date:"F d, Y g:i A" }}</small>
							    </div>
							    <div class="replie-body">
							    	<p>{{ replie.body }}</p>
								</div>
							</div>
						{% endfor %}
					{% endif %}
					{% if user.is_authenticated %}
			          	<a href="{% url 'add-replie' ticket.id %}">Svara</a>
			        {% else %}
				        <a href="{% url 'login' %}">Logga in för att svara</a>
				        <a href="{% url 'register' %}">Bli Medlem</a>
				    {% endif %}  
				</div>
			</div>
		</article>
	{% endfor %}
	{% if is_paginated %}

		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
		
		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}

	{% endif %}
{{ calendar }}

{% endblock content %}
