{% extends "ticket/base.html" %}
{% block content %}
	{% for ticket in tickets %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ ticket.author.profile.image.url }}">
			<div class="media-body">
			    <div class="article-metadata">
			      	<a class="mr-2" href="{% url 'user-tickets' ticket.author.username %}">{{ ticket.author }}</a>
			      	<small class="text-muted">{{ ticket.date_ticketed|date:"F d, Y g:i A" }}</small>
			    </div>
			   	<h2><a class="article-title" href="{% url 'ticket-detail' ticket.id %}">{{ ticket.title }}  </a>
			   		{% if ticket.status == 'N' %}
			   			<span class="badge badge-warning">{{ ticket.status }}</span>
			   		{% elif ticket.status == 'O' %}
			   			<span class="badge badge-info">{{ ticket.status }}</span>
			   		{% elif ticket.status == 'W' %}
			   			<span class="badge badge-success">{{ ticket.status }}</span>	
			 		{% elif ticket.status == 'C' %}
			   			<span class="badge badge-secondary">{{ ticket.status }}</span>
			 		{% elif ticket.status %}
			   			<span class="badge badge-light">{{ ticket.status }}</span>
			   		{% endif %}
			   </h2>
			   	<h5>
			   		<span class="badge badge-light">Brotskande: {{ ticket.urgency }}</span> 
			   		<span class="badge badge-light">Sektion: {{ ticket.ticket_type }}</span>
					<span class="badge badge-light">Station: {{ ticket.ticket_location }}</span>
			   	</h5>
			    <p class="article-content" border="border-primary">{{ ticket.content }}</p>
				<div class="replie-thread">
					<h5>Svara...</h5>
					{% if not ticket.replies.all %}
						<p>Updatera</p>
					{% else %}
						{% for replie in ticket.replies.all %}
							<div class="replie">
								<div class="replie-heading">
							      	<strong class="replie-author">{{ replie.replier }}</strong>
							      	<small class="text-muted"> {{ replie.date_replied|date:"F d, Y g:i A" }}</small>
							    </div>
							    <div class="replie-body">
							    	<p>{{ replie.body }}</p>
								</div>
							</div>
						{% endfor %}
					{% endif %}
					{% if user.is_authenticated %}
			          	<a href="{% url 'add-replie' ticket.id %}">Lägg updatering</a>
			        {% else %}
				        <a href="{% url 'login' %}">Logga in</a>
				        <a href="{% url 'register' %}">Bli Medlem</a>
				    {% endif %}  
				</div>
			</div>
		</article>
	{% endfor %}

	{% if is_paginated %}
		
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">Första</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Föregående</a>
		{% endif %}
		
		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Nästa</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Sista</a>
		{% endif %}

	{% endif %}

{% endblock content %}